body{
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
}
h1{
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: bold;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
form input[type="text"]{
    width: 60%;
    max-width: 400px;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
}
form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

form input[type="submit"]:hover{
    background-color: rgb(32, 185, 32);
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
}

.search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    overflow: hidden;
    padding: 20px;
    justify-content: center;
}

.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;  
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.search-result img:hover{
    transform: scale(1.05);
}
.search-result a{
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}
.search-result a:hover{
    background-color: rgba(0,0,0,0.1);
}
#show-more{
    display: block;
   background-color: #008cba;
   border: none;
   padding: 10px 20px;
   margin: 0 auto;
   border-radius: 5px;
   margin: 20px auto;
   cursor: pointer;
   transition: background-color .3s ease-in-out;
   display: none;
}
#show-more:hover{
    background-color: #0077b5;
}

@media screen and (max-width:768px){
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width:480px){
    .search-result{
        width: 100%;
    }
    form{
        flex-direction: column;
    }
    form input[type="submit"]{
        margin-top:20px;
    }
    form input[type="text"]{
        width: 80%;
    }
}
